* {
    margin: 0px;
    padding: 0px;
}

body, html {
    width: 100%;
    height: 100%;
    position: absolute;
    font-family: 'Lato', sans-serif;
    background-image: url("images/bg-tile.png");
    color: #b2b2b2;
}

button {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
}

button#evolution, button#restart{
    display: none;
}

button#start_button, button#restart {
    position: relative;
    margin-top: 15px;
    width: 100px;
    height: 40px;
    font-size: 17px;
    padding: 10px 14px;
}


div#game{
    position: relative;
    top: 50px;    
    text-align: center;
}

div#start {
    width: 100%;
    z-index: 100;
}

div#startBg {
    position: absolute;
    width: 100%;
    background: #fff;
    z-index: -1;
}

ul#game_board {
    position: absolute;
    margin-left: -250px;
    padding: 0;
	width: 500px;
	height: 500px;
    top: 100px;
    left: 50%;
    border: 1px black solid;
    margin-top: 15px;
    background-color: #b2b2b2;
}

li {
    list-style-type: none;
	float: left;
    width: 20px;
    height: 20px;
}

li.live {
    background-color: #6e7272;
}

li.dead {
    background-color: #b2b2b2;
}

button{
    background-color: #bababa;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#545454), to(#bababa));
    background-image: -webkit-linear-gradient(top, #545454, #bababa);
    background-image: -moz-linear-gradient(top, #545454, #bababa);
    background-image: -ms-linear-gradient(top, #545454, #bababa);
    background-image: -o-linear-gradient(top, #545454, #bababa);
    background-image: linear-gradient(top, #545454, #bababa);

    border: 1px solid #545454;
    color: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.6) inset, 0 1px 0 rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.6) inset, 0 1px 0 rgba(0,0,0,.3);
    box-shadow: 0 0 1px 1px rgba(255,255,255,.6) inset, 0 1px 0 rgba(0,0,0,.3);
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    padding: 6px 10px 3px 10px;
    margin: 40px 0px 0px 0px;
}

button:active
{
    -moz-box-shadow: 0 0 3px 1px rgba(0,0,0,.2) inset;
    -webkit-box-shadow: 0 0 3px 1px rgba(0,0,0,.2) inset;
    box-shadow: 0 0 3px 1px rgba(0,0,0,.2) inset;
    position: relative;
    top: 1px;
}
